@font-face {
	font-family: 'GoogleSans-Regular';
	src: url('../fonts/GoogleSans-Regular.woff');
	src: local('☺'), url('../fonts/GoogleSans-Regular.woff') format('woff'), url('fonts/metropolis.medium.ttf') format('truetype'), url('fonts/metropolis.medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}