.spollers-block {
	// .spollers-block__item
	&__item {
		margin: 0px 0px 20px 0px;
		padding-bottom: 20px;
		border-bottom: 1px solid $text;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .spollers-block__title
	&__title {
		color: $text;
		cursor: pointer;
		padding: 0px 70px 0px 20px;
		position: relative;
		&::before {
			content: "";
			width: 22px;
			background-color: $text;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(-25%, 0%) rotate(0deg);
			position: absolute;
			right: 15px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 20px;
			background-color: $text;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(40%, 0%) rotate(90deg);
			position: absolute;
			right: 29px;
			top: 50%;
		}
		&._active {
			&::before {
				transform: translate(-25%, 0%) rotate(0deg);
			}
			&::after {
				transform: translate(25%, 0%) rotate(0deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 20px;
	}
}